@import url('https://fonts.googleapis.com/css?family=Open+Sans|Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Atma:700');
body{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #F1ED62;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-wrapperA{
    width: 100%;
    background: #F1ED62;
    display:inline-block;
}
.main-wrapperB{
    width: 100%;
    background: #F1ED62;
    display:inline-block;
}

/* animation test */
.anim-three-wrapper{
    padding: 0 10%;
}
.steps{
    display:grid;
    width:100%;
    grid-template-columns: auto auto auto;
    grid-gap: 10px ;
}
.anim-wrapp{
    width: 100%;
    position: relative;
    display: block;
    margin: 20px 0;
    padding: 40px;
    box-sizing: border-box;
}
.anim-wrapp:before,.anim-wrapp:after{
    content: "";
    width: 100%;
    display: block;
}
.anim-wrapp:after{
    clear: both;
}

.anim-three-wrapper .steps .step_item:nth-child(1) .anime {
    background-image: url(../images/step1_anime.png);
}
.anim-three-wrapper .steps .step_item:nth-child(2) .anime {
    background-image: url(../images/step2_anime.png);
}
.anim-three-wrapper .steps .step_item:nth-child(3) .anime {
    background-image: url(../images/step3_anime.png);
}
.step_item {
    /* height: 22.00vw; */
    height: 47.66vh;
    width: 100%;
    float: left;
    position: relative;
    background: #fff;
    box-sizing: border-box;
}
.anim-three-wrapper .steps .step_item .anime {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background-position: top left;
    background-size: cover;
    -webkit-animation: anime_gif 1s steps(1) infinite;
    animation: anime_gif 1s steps(1) infinite;
}
.anim-three-wrapper .steps .step_item .anime:after{
    content: '';
    width: 100%;
    padding-top: 84.34%;
}
@keyframes anime_gif{
    0%,100%{
        background-position:top left;
        }
    50%{
        background-position:bottom left;
    }
}




.step_item p{
    margin: 0;
    padding: 84% 0px 6% 10%;
    background-color: white;
}
.main-header h2{
    text-align: center;
    font-size: 3vw;
    color: #153940;
    font-family: Atma;
}
.show{
    margin: 8% 0 0 0;
    cursor: pointer;
    text-align: center
}
.arrow{
     width: 2%;
     margin: 0 auto;
     position: relative;
     top: 0;
     -webkit-animation: floatBubble 1s infinite  ease-in-out forwards;
     animation: floatBubble 1s infinite  ease-in-out forwards;
}
@-webkit-keyframes floatBubble {
    0% {
        top:0px;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0px;
    }
}
@keyframes floatBubble {
    0% {
        top:0px;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0px;
    }
}
.arrow img{
    width: 100%;
}
.txt{
    padding-top: 30px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.sub-header h2{
    text-align: center;
    color: #153940;
    padding-top: 25px;
    font-size: 40px;
    font-family: Atma;

}

.toggle{
    padding: 0.4vw 2vw;
    box-sizing: border-box;
    color: #153940;
    font-size: 4vw;
    right: 0;
    position: fixed;
    cursor: pointer;
}
.font-menu-bar{
    display: none;
    float: left;
    width: 50%;
    text-align: center;
    background: #153940;
    position: fixed;
    z-index: 100;
}
.toggle{
    display:block;
}
.active{
    display:block;
}
@media only screen and (max-width: 768px){
    
   
    .steps{
        display:grid;
        width:100%;
        grid-template-columns:auto;
        grid-gap: 10px ;
    }
    .step_item {
        height: 67.55vw;
        width: 100%;
        float: left;
        position: relative;
        background: #fff;
        box-sizing: border-box;
    }
    .anim-three-wrapper .steps .step_item .anime {
        position: absolute;
        right:0;
        top: 0;
        height: 50%;
        width: 50%;
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        background-position: top left;
        background-size: cover;
        -webkit-animation: anime_gif 1s steps(1) infinite;
        animation: anime_gif 1s steps(1) infinite;
    }
    .step_item p {
        display: inline;
        float: right;
        padding: 6% 0px 0% 4%;
      
    }
}



.font-toggle{
    font-size: 40px;
    cursor:pointer;
    margin-right: 2vw;
    position: fixed;
    right: 0;
    color: #153940;
    top: 10%;
}
/* .font-toggle:hover{
    font-size: 50px;
    margin-right: 1vw;
 
} */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #395E64;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}